[submodule "test_collections/official_tests"]
	path = test_collections/python_tests
	url = ../chip-test-scripts.git
[submodule "test_collections/python_tests"]
	path = test_collections/python_tests
	url = git@github.com:project-chip/matter-test-scripts.git
